PORT=3000
ALLOWED_HOSTS=http://localhost:5173
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"
//command to run postgres using docker 
docker run -e POSTGRES_PASSWORD=mysecretpassword -d -p 5432:5432 postgres
